/*
    Mr. Landry's Website | site.min.css
    This stylesheet code is (c) 2015 Kaleb Klein
*/
@font-face
{
    font-family: Ubuntu;
    src: url('../fonts/ubuntu.ttf');
}

a:hover {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
}

html
{
	position: relative;
	min-height: 100%;
}

body
{
	margin-bottom: 91px;
}

body, html
{
	font-family: Ubuntu, sans-serif;
	font-size: 12pt;
}

.table
{
	font-size: 11pt;
}

@media only screen and (min-width: 768px)
{
	ul.nav li.dropdown:hover > ul.dropdown-menu
	{
		display: block;
	}
}

.btn
{
	border-radius: 8px;
}

.btn-round
{
	border-radius: 30px;
}

.notify-text
{
	text-align: center;
	font-size: 16px;
}

.pageContent
{
	display: block;
}

.footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 61px;
	background-color: #006687;
	/*line-height: 50px;*/
	color: #fff;
	text-align: center;
}

.footer_text
{
	line-height: 61px;
}

@media only screen and (max-width: 530px)
{
	.footer_text
	{
		line-height: 35px;
		vertical-align: middle;
	}
	.footer
	{
		height: 70px;
	}
}

.footer a { color: #fff; }
.footer a:hover { color: #ccc; }
